#result{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
img{
    width: 300px;
    height: 300px;
}



#result div{
    gap: 40px;
    padding-bottom: 40px;
    border: 2px aqua outset;
    margin:20px;
}